{
    "presets": [["@babel/es2015", { "modules": false }], "@babel/react"],
    "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties"
    ],
    "env": {
        "test": {
            "presets": ["@babel/es2015", "@babel/react"]
        }
    }
}
